<% title "Neuer Besuch in #{@survey.site.name} durch #{@survey.project.name}" %>

<%= nested_form_for([@survey, @visit], :url => survey_visits_path) do |f| %>
  <%= render 'form', :f => f %>
<% end %>

<p><%= link_to "Back to List", survey_visits_path(@visit.survey) %></p>

