<% title "Projekte" %>

<% content_for :overview do %>
  <p>
    
  </p>
<% end %>

<% content_for :thead do %>
  <tr>
    <th class="span7">Bezeichnung</th>
    <% if logged_in? %>
      <th></th>
    <% end %>
  </tr>
<% end %>
<% content_for :tbody do %>
  <% for project in @projects %>
    <tr>
      <td>
        <%= link_to "#{project.name}", project %><br />
        <% unless project.description == nil %>
          <small><%= truncate(project.description, :length => 200, :separator => ' ') %></small>
        <% end %>
      </td>
      <% if logged_in? %>
        <td style="text-align:right;">
          
        </td>
      <% end %>
    </tr>
  <% end %>
<% end %>

<% content_for :indexsidebar do %>
  <p></p>
<% end %>