<div class="field">
  <div class="control-group">
    <%= f.label :content, 'Name', :class => 'control-label' %>
    <div class="controls  controls-row">
      <%= f.text_field :content, :class => 'text_field' %> 
      <%= f.text_field :period, :class => 'text_field' %> 
      <small><%= f.link_to_remove "entfernen" %></small>
    </div>
  </div>
</div>